.card_container{
    height: 250px;
    flex: 1;
    background: var(--white_color);
    border-radius: 35px;
    padding: 1.8rem 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content: space-between;
}
.card_image_wrapper{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid var(--light_gray_color);
    display: grid;
    place-items: center;
    background-color: var(--light_gray_color);
}
.card_top{
    display: flex;
    justify-content: space-between;

}
.card_top img{
    width: 50px;
}
.card_top svg{
    color: var(--gray_color);
    cursor: pointer;
    font-size: 1.32rem;
}
.card_bottom{
    display: flex;
    align-items: flex-end;
}
.bottom_left{
    flex: 1;

}
.bottom_left h4{
    color: var(--dark_blue_color);
    font-size: 1.2rem;
    line-height: 30px;
}
.bottom_left p{
    font-size: 13px;
    letter-spacing: 1px;
}
.bottom_right{
    display: flex;
    flex-direction: column;
    align-items: center;
        gap: 7px;
        letter-spacing: 1px;
}
.open_button{
    width: 75px  ;
    height: 75px;
    border: 3px solid ;
    border-color: var(--dark_blue_color);
    cursor: pointer;
    border-radius: 50%;
    position: relative;
}
.open_text{
    bottom: -25px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    color: var(--gray_color);
    font-size: 13px;
    font-family: 'Poppins';
}
.open_button svg{
    font-size: 1.8rem;
    color: var(--dark_blue_color);

}.open_text{
    font-size: 13px;

}